<ion-app>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end" end>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>

            Le Cantine del Duca </ion-list-header>
          <ion-note>Ristorante</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

            <ion-item routerDirection="root" [routerLink]="[p.url]" [href]="p.url" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu> -->
    <ion-router-outlet main when="sm"></ion-router-outlet>
  <!-- </ion-split-pane> -->

  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{appPages}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{appPages}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-section *ngFor="let section of appPages" [title]="section.title" [dishes]="section.dishes"></app-section>

  </ion-content> -->

</ion-app>
