@for (item of sectionList; track item) {
  <ion-item-group id="{{item.url}}" >
    <ion-item-divider sticky style="border-bottom-color: #3b3b3b">
      <!-- style=" box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 6px 10px rgb(0 0 0 / 6%), 0 10px 17.9px rgb(0 0 0 / 7%), 0 20px 33.4px rgb(0 0 0 / 9%), 0 15px 100px rgb(0 0 0 / 12%);" -->
      <div style="width: 100%; text-align: center;">
        <h1 class="title" style="color: #95A724">
          {{item.title}}
        </h1>
      </div>
    </ion-item-divider>
    @if (item.images) {
      <div>
        @for (img of item.images; track img) {
          <div>
            <ion-img [src]="'../../assets/images/'+img"></ion-img>
          </div>
        }
      </div>
    }
    @for (dish of item.dishes; track dish) {
      <div class="flex-column" style="padding:1em 1em;">
        <div class="flex-row"  lines="false" style="min-width: 100% !important;">
          <div class="flex-row flex-75">
            <ion-text [ngClass]="dish.icon ? 'flex-60' : 'flex-100'">
              <h3>
                {{dish.name}}
              </h3>
            </ion-text>
            @if (dish.icon) {
              <ion-img class="flex-40" slot="start" [src]="'../../assets/images' + dish.icon"></ion-img>
            }
          </div>
          @if (!dish.cad) {
            <ion-text class="flex-25" slot="end" color="white">
              <h4 style="text-align: center;">
                €{{dish.price}}
              </h4>
            </ion-text>
          }
          @if (dish.cad) {
            <ion-text class="flex-25" slot="end" color="white">
              <h4 style="text-align: center;">
                {{dish.price}}
              </h4>
            </ion-text>
          }
        </div>
        @if (dish.description) {
          <div class="flex-70 flex-row" >
            <ion-text >
              {{dish.description}}
            </ion-text>
            <ion-text class="flex-30" slot="end" color="white">
              <h4>
              </h4>
            </ion-text>
          </div>
        }
      </div>
    }
    @if (item.extraInfo) {
      <div  class="flex-column" style="padding:1em 1em;">
        @for (extra of item.extraInfo; track extra) {
          <div>
            <ion-text >
              {{extra}}
            </ion-text>
          </div>
        }
      </div>
    }
  </ion-item-group>
}


