  <ion-item-group *ngFor="let item of sectionList" id="{{item.url}}" >
    <ion-item-divider sticky style="border-bottom-color: #3b3b3b">
      <!-- style=" box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 6px 10px rgb(0 0 0 / 6%), 0 10px 17.9px rgb(0 0 0 / 7%), 0 20px 33.4px rgb(0 0 0 / 9%), 0 15px 100px rgb(0 0 0 / 12%);" -->
      <div style="width: 100%; text-align: center;">
        <h1 class="title" style="color: #95A724">
          {{item.title}}
        </h1>
      </div>
    </ion-item-divider>

    <div *ngIf="item.images">
      <div *ngFor="let img of item.images">
        <ion-img [src]="'../../assets/images/'+img"></ion-img>
      </div>
    </div>

    <div *ngFor="let dish of item.dishes" fxLayout="column" style="padding:1em 1em;">
      <div fxLayout="row"  lines="false" style="min-width: 100% !important;">
        <ion-text fxFlex="75">
          <h3>
            {{dish.name}}
          </h3>
        </ion-text>
        <ion-text fxFlex="25" slot="end" color="white" *ngIf="!dish.cad">
          <h4 style="text-align: center;">
            €{{dish.price}}
          </h4>
        </ion-text>
        <ion-text fxFlex="25" slot="end" color="white" *ngIf="dish.cad">
          <h4 style="text-align: center;">
            {{dish.price}}
          </h4>
        </ion-text>
      </div>

      <div fxFlex="70" fxLayout="row"  *ngIf="dish.description">
        <ion-text >
          {{dish.description}}
        </ion-text>
        <ion-text fxFlex="30" slot="end" color="white">
          <h4>

          </h4>
        </ion-text>
      </div>

    </div>

    <div  *ngIf="item.extraInfo" fxLayout="column" style="padding:1em 1em;">
      <div *ngFor="let extra of item.extraInfo">

        <ion-text >
          {{extra}}
        </ion-text>
      </div>
    </div>
  </ion-item-group>


